<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/product-list.css">
</head>
<head th:replace="~{fragments/head :: head}"></head>
<head th:replace="~{fragments/foot :: foot}"></head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div>
        <main>
            <div class="section-group">
                <section class="product-page-header">
                    <img src="" alt="">
                    <div class="product-title">
                        <span class="product-name text-style1">Engagement Ring</span>
                        <span class="product-explanation text-style2">누니주얼리의 Engagement Ring 은 영원한 약속의 증표가 됩니다.</span>
                    </div>
                    <div class="select-option">
                        <span class="text-style2">Engagement Ring</span>
                        <select class="select-box">
                            <option value="registration">등록순</option>
                            <option value="popular">인기순</option>
                            <option value="low-price">낮은가격순</option>
                            <option value="high-price">높은가격순</option>
                            <option value="name">이름순</option>
                        </select>
                    </div>
                </section>
                <section class="product-list">
                    <div class="product-img-price">
                        <img src="" alt="">
                        <div class="product-name-price">
                            <span class="text-style3 ">Fractal 웨딩링 for Engagement</span>
                            <span class="text-style1 product-price">2,350,000원</span>
                        </div>
                    </div>
                    <div class="product-img-price">
                        <img src="" alt="">
                        <div class="product-name-price">
                            <span class="text-style3 ">Fractal 웨딩링 for Engagement</span>
                            <span class="text-style1 product-price">2,350,000원</span>
                        </div>
                    </div>
                    <div class="product-img-price">
                        <img src="" alt="">
                        <div class="product-name-price">
                            <span class="text-style3 ">Fractal 웨딩링 for Engagement</span>
                            <span class="text-style1 product-price">2,350,000원</span>
                        </div>
                    </div>
                    <div class="product-img-price">
                        <img src="" alt="">
                        <div class="product-name-price">
                            <span class="text-style3 ">Fractal 웨딩링 for Engagement</span>
                            <span class="text-style1 product-price">2,350,000원</span>
                        </div>
                    </div>
                    <div class="product-img-price">
                        <img src="" alt="">
                        <div class="product-name-price">
                            <span class="text-style3 product-name">Fractal 웨딩링 for Engagement</span>
                            <span class="text-style1 product-price">2,350,000원</span>
                        </div>
                    </div>
                    <div class="product-img-price">
                        <img src="" alt="">
                        <div class="product-name-price">
                            <span class="text-style3 ">Fractal 웨딩링 for Engagement</span>
                            <span class="text-style1 product-price">2,350,000원</span>
                        </div>
                    </div>
                    <div class="product-img-price">
                        <img src="" alt="">
                        <div class="product-name-price">
                            <span class="text-style3 ">Fractal 웨딩링 for Engagement</span>
                            <span class="text-style1 product-price">2,350,000원</span>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
    <script src="/static/js/product-list.js"></script>
</body>
</html>