<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/brandPage04.css">
</head>
<head th:replace="~{fragments/head :: head}"></head>
<head th:replace="~{fragments/foot :: foot}"></head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div id="container">
        <main>
            <div class="dia-page">
                <div class="dia-page-card">
                    <div class="dia-page-card-main-title">
                        <span>NOONEE DIAMOND</span>
                    </div>
                    <div class="dia-page-title-line"></div>
                    <div class="dia-page-card-main-img-box">
                        <img  src="/image/brandPage/page4-1.png" class="img4-1">
                        <img  src="/image/brandPage/page4-2.png" class="img4-2">
                    </div>
                    <div class="dia-page-card-text-box">
                        <span>누니주얼리에서는 불법적인 과정을 거치지 않은 다이아몬드만을 사용합니다.</span><br>
                        <br>
                        <span>신뢰할만한 사이트홀더로 부터 공급되고 GIA로부터 감정서를 발급받은 스톤만을 사용하는데,</span><br>
                        <span>이는 소중한 주얼리에 최고의 다이아몬드를 사용하기 위함입니다.</span><br>
                        <br>
                        <span> GIA 에서 만든 4C 라는 요소는 이제 일반적인 다이아몬드의 감정기준으로 통용되고 있습니다.</span><br>
                        <span>다시 말하자면, GIA 의 감정기준과 감정서가 가장 명확하고 신뢰할만하다는 것입니다.</span><br>
                        <br>
                        <span>GIA의 4C 는 색상(Color), 투명도(Clarity), 연마(Cut), 중량(Carat) 으로 구성되어있습니다.</span><br>
                    </div>
                </div>
                <div class="dia-page-card-line"></div>
                <div class="dia-page-card">
                    <div class="dia-page-card-title">
                        <span>COLOR</span>
                    </div>
                    <div class="dia-page-title-line"></div>
                    <div class="dia-page-card-img-box">
                        <img  src="/image/brandPage/page4-3.gif" class="img-w-90">
                        <img  src="/image/brandPage/page4-4.gif" class="img-w-50">
                    </div>
                    <div class="dia-page-card-text-box">
                        <span>컬러는 다이아몬드의 근본적인 요소로서 컬러가 없을수록 더 희귀하고 가치있는 다이아몬드로 여겨집니다.</span><br>
                        <br>
                        <span>다이아몬드의 컬러는 내림차순으로 D 에서 Z 로 분류되는데, 누니주얼리에서는 D 부터 F 까지 최상 등급의 다이아몬드만 취급합니다.</span>
                    </div>
                </div>
                <div class="dia-page-card-line"></div>
                <div class="dia-page-card">
                    <div class="dia-page-card-title">
                        <span>CLARITY</span>
                    </div>
                    <div class="dia-page-title-line"></div>
                    <div class="dia-page-card-img-box">
                        <img src="/image/brandPage/page4-5.png" class="img-w-80">
                        <img src="/image/brandPage/page4-6.gif" class="img-w-50">
                    </div>
                    <div class="dia-page-card-text-box">
                        <span>투명도는 다이아몬드의 내부적 특성과 외부적 특성에 따라 결정됩니다.</span><br>
                        <br>
                        <span>10배 확대해서 보았을 때 내포물이나 표면적 특징이 발견되지 않는 다이아몬드를 '무결점(Flawless)' 라고 표현하는데, 미세한 흠 하나 없는 다이아몬드는 매우 희귀하며,</span><br>
                        <span>대부분의 다이아몬드는 천연 내포물을 함유하고 있으나, 그 내포물이 다이아몬드의 아름다움에 영향을 미치지는 않습니다.</span><br>
                        <br>
                        <span>누니주얼리에서는 10배로 확대했을 때, 눈에 띄는 뚜렷한 내포물과 표면적 특징이 없는 다이아몬드만을 사용하고 있습니다.</span>
                    </div>
                </div>
                <div class="dia-page-card-line"></div>
                <div class="dia-page-card">
                    <div class="dia-page-card-title">
                        <span>CUT</span>
                    </div>
                    <div class="dia-page-title-line"></div>
                    <div class="dia-page-card-img-box">
                        <img src="/image/brandPage/page4-7.gif" class="img-w-60">
                    </div>
                    <div class="dia-page-card-text-box">
                        <span>컷팅은 다이아몬드가 지닌 화려함과 광채를 최대로 표현하기 위한 작업입니다.</span><br>
                            <br>
                            <span>정확한 비율과 마감 처리 작업으로 커팅된 다이아몬드만이 최고의 아름다움을 표현할 수 있으며, 정확한 비율을 위해서는 많은 원석의 손실을 감내해야 합니다.</span><br>
                            <br>
                            <span>누니주얼리에서는 다이아몬드의 아름다움과 직결된 최고의 컷팅 등급만을 사용합니다.</span>
                        </span>
                    </div>
                </div>
                <div class="dia-page-card-line"></div>
                <div class="dia-page-card">
                    <div class="dia-page-card-title">
                        <span>CARAT</span>
                    </div>
                    <div class="dia-page-title-line"></div>
                    <div class="dia-page-card-img-box">
                        <img src="/image/brandPage/page4-8.gif" class="img-w-50">
                    </div>
                    <div class="dia-page-card-text-box">
                        <span>캐럿은 다이아몬드의 중량단위로서, 다이아몬드의 크기는 그 가치와 희귀성을 높일 수 있지만 올바른 비율로 컷팅되지 않으면 그 중요도가 떨어지게 됩니다.</span><br>
                        <br>
                        <span>그럼에도 보석의 중량이 높아지면 가치가 올라갈 수 있는데, 큰 보석은 작은 보석보다 희귀하기 때문입니다.</span><br>
                        <br>
                        <span>누니주얼리에서는 다이아몬드의 가치와 착용한 고객님과의 어울림, 주얼리의 디자인 등 모든 부분을 고려하여 최적의 다이아몬드를 권해드리고 있습니다.</span>
                    </div>
                </div>
                <div class="dia-page-card-line"></div>
            </div>
        </main>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>