<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>디자이너 주얼리 NOONEE</title>
    <link rel="stylesheet" href="/static/css/brandpage03.css">
</head>
<head th:replace="~{fragments/head :: head}"></head>
<head th:replace="~{fragments/foot :: foot}"></head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div id="container">
        <main>
            <div class="main-container">
                <div class="design-container">
                    <p>DESIGN</p>
                </div>
                <div class="images">
                    <div class="fi"><img class="file-img" src="https://cdn.imweb.me/thumbnail/20171109/5a042281a8dbc.jpg"></div>
                    <div class="fi"><img class="file-img" src="https://cdn.imweb.me/thumbnail/20171109/5a042281f119f.jpg"></div>
                </div>
                <div class="first-p">
                    <p></p>
                    <br>0
                    <p>누니주얼리의 디자인은 러프한 스케치로부터 시작됩니다.</p>
                    <P></P>
                    <p>주로 자연에서 영감을 얻거나 매력적인 형태로부터 디자인이 시작되는데,</p>
                    <p>궁극적으로 착용했을 때의 아름다움과 주얼리의 의미를</p>
                    <p>중요하게 생각하고 있습니다.</p>
                    <br>
                    <p>최고의 주얼리를 만들기 위해서는 형태, 착용감, 밸런스 등</p>
                    <p>모든 면이 검토되어야 합니다.</p>
                    <br>
                    <p>수많은 보완 작업과 검증 작업을 거쳐야만</p>
                    <p>비로소 아름다운 주얼리가 탄생하게 됩니다.</p>
                    <br>
                    <p>누니주얼리의 모든 주얼리는 이와 같은 과정으로 계획되고, 완성됩니다.</p>
                </div>
                <div class="tech-container">
                    <p>TECHNIQUE</p>
                </div>
                <div class="images">
                    <div class="fi"><img class="file-img" src="https://cdn.imweb.me/thumbnail/20171109/5a04228249dc1.jpg"></div> 
                    <div class="fi"><img class="file-img" src="https://cdn.imweb.me/thumbnail/20171109/5a0422828827a.jpg"></div>
                </div>
                <div class="second-p">
                    <p></p>
                    <br>
                    <p>누니주얼리가 우아하고 섬세한 분위기의 주얼리를 제작할 수 있는 것은</p>
                    <p>전통적인 주얼리 제작기법을 고수하면서도,</p>
                    <p>현대적인 기술을 접목시키기 때문입니다.</p>
                    <br>
                    <p>보다 창조적인 표현을 위해 심플하고 모던한 디자인일지라도</p>
                    <p>디테일의 아름다움을 소홀히 하지 않는 것이 중요합니다.</p>
                    <br>
                    <p>숙련된 장인들의 섬세하고 세련된 제작기술을 바탕으로</p>
                    <p>여태까지 접할 수 없었던, 독특한 이미지를 만들어 내고 있습니다.</p>
                </div>
                <div>
                    <p>COLORS OF METAL</p>
                </div>
                <div>
                    <img class="ring-img" src="https://cdn.imweb.me/thumbnail/20200915/1921b1f1d0f13.png">
                </div>
                <div>
                    <p>누니주얼리에서는 다양한 피부 톤에 어울리는</p>
                    <p>플래티늄(Pt950), 화이트, 캄-그레이, 샴페인, 옐로우, 로즈, 베이지-로즈, 웹-브라운 등</p>
                    <p>총 8가지의 합금을 선보이고 있습니다.</p>
                    <br>
                    <p>화이트 골드는 화사한 분위기로 사랑스럽고, 캄-그레이 골드는 어디서도 접하지 못한 유니크한 매력을 발산합니다.</p>
                    <p>옐로우 골드는 가장 전통적이며 고급스럽습니다.</p>
                    <p>로즈 골드는 우아한 분위기를 연출하며, 베이지-로즈 골드는 조금 더 부드러운 이미지를 만들어냅니다.</p>
                    <p>샴페인 골드는 피부 톤에 은은하게 잘 어울리며,</p>
                    <p>웜-브라운 골드는 차분하면서도 고급스러운 느낌으로 매력적입니다.</p>
                    <br>
                    <p>누니주얼리의 모든 골드는 고유의 배합 비율로 조성되며, 미묘한 컬러의 변화에 집중합니다.</p>
                    <br>
                    <p>특히, 누니주얼리의 특별한 컬러인 캄-그레이, 샴페인, 웜-브라운 골드는 타사의 도금 색상과 달리</p>
                    <p>합금 그대로의 컬러로 변하지 않는 아름다움을 간직하고 있습니다.</p>
                </div>
                <div class="empty-container"></div>
            </div>
        </main>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>