<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <footer th:fragment="footer">
        <div class="footer-section">
            <div class="brand-group">
                <i class="fa-brands fa-facebook fa-2x"></i>
                <i class="fa-brands fa-instagram fa-2x"></i>
                <i class="fa-brands fa-youtube fa-2x"></i>
                <i class="fa-solid fa-blog fa-2x"></i>
            </div>
            <div class="brand-info">
                <p><br></p>
                <p>&copy; 2022 All rights reserved by NOONEE jewelry.</p>
                <p>34, Itaewon-ro 54gil, Yongsan-gu, Seoul, Korea</p>
                <p>Tue-Sun 11:30 - 20:00 / Lunch(Tue-Fri) 13:00 - 14:00 / Close on Monday</p>
                <p><button class="branch-btn">thenoonee@naver.com</button> | 02 749 5540</p>
                <p><br></p>
                <p>NOONEE &nbsp;| &nbsp;대표 손누니</p>
                <p><button class="branch-btn">사업자등록번호 743-36-00372 &nbsp;| &nbsp;통신판매업신고번호 제 2021-서울용산-0743 호</button>&nbsp; | &nbsp;<button class="branch-btn">이용약관</button>&nbsp; | &nbsp;<button class="branch-btn">개인정보처리방침</button></p>
                <p><br></p>
                <p><button class="employment-btn">채용정보</button></p>
                <p><br></p>
            </div>
            <div class="branch-group">
                <button class="branch-btn">Edizióne NOONEE (한남본점)</button>
                <button class="branch-btn">Boutique Central (현대무역)</button>
                <button class="branch-btn">Boutique East (현대천호)</button>
                <button class="branch-btn">Boutique Parc.1 (더현대서울)</button>
            </div>
        </div>
    </footer>
</html>