<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>noonee</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header copy.css">
    <script src="https://kit.fontawesome.com/f859fe5fed.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <header>
        <h1 class="main-logo">
            <img src="/static/img/logo.PNG" alt="">
        </h1>
        <nav>
            <div class="nav-menu">
                <button type="button" class="main-menu-btn brand">BRAND</button>
                <div class="nav-sub visible">
                    <a href="">ABOUT NOONEE</a>
                    <a href="">NOONEE DIAMOND</a>
                    <a href="">SHOP INFO</a>
                </div>
            </div>
            <div class="nav-menu">
                <button type="button" class="main-menu-btn bridal">BRIDAL</button>
                <div class="nav-sub visible fadein">
                    <a href="">ENGAGEMENT RING</a>
                    <a href="">WEDDING RING</a>
                    <a href="">PROPOSE RING</a>
                </div>
            </div>
            <div class="nav-menu">
                <button type="button" class="main-menu-btn collection">COLLECTION</button>
                <div class="nav-sub visible">
                    <a href="">깃</a>
                    <a href="">윤슬</a>
                    <a href="">LEAF</a>
                </div>
            </div>
            <div class="nav-menu">
                <button type="button" class="main-menu-btn fashion">FASHION</button>
                <div class="nav-sub visible">
                    <a href="">RING</a>
                    <a href="">NECKLACE</a>
                    <a href="">EARRINGS</a>
                </div>
            </div>
            <div class="nav-menu">
                <button type="button" class="main-menu-btn q-and-a">Q&A</button>
                <div class="nav-sub visible">
                    <a href="">FAQ</a>
                    <a href="">예약 문의</a>
                    <a href="">A/S 문의</a>
                </div>
            </div>
            <div class="nav-menu">
                <button type="button" class="main-menu-btn customer">CUSTOMER</button>
                <div class="nav-sub visible last">
                    <a href="">REVIEW</a>
                    <a href="">PUBLIC RELATION</a>
                </div>
            </div>
        </nav>
        <div class="sub-menu">
            <button type="button" class="sub-menu-btn search"><i class="fa-solid fa-magnifying-glass"></i></button>
            <button type="button" class="sub-menu-btn signin">LOGIN</button>
            <button type="button" class="sub-menu-btn signup">JOIN</button>
            <button type="button" class="sub-menu-btn basket"><i class="fa-solid fa-bag-shopping"></i></button>
            <select class="language-select" id="language">
                <option value="korean">한국어</option>
                <option value="English">English</option>
            </select>
        </div>
    </header>
    
    <script src="/static/js/header copy.js"></script>
</body>
</html>