<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/src/main/resources/static/css/style.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/board.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <title>디자이너 주얼리 NOONEE</title>
</head>
<body>
    <main>
        <div class="review-section">
            <div class="empty-section"></div> 
            <div class="review-list">
                <div class="board-head">
                    <div class="heading">
                        <span>REVIEW</span>
                        <em>24</em>
                    </div>
                    <div class="tools">
                        <div class="search-bar">
                            <input class="form-control" type="text" placeholder="Search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                </div>
                <div class="review">
                    <ul>
                        <span>Leaf for Propose[0.2ct]</span>
                        <span>만족합니다용 추천 리뷰</span>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="page-buttons">
		            <button type="button" class="page-button">&lt;</button>
		            <button type="button" class="page-button">1</button>
		            <button type="button" class="page-button">2</button>
		            <button type="button" class="page-button">&gt;</button>
        	    </div>
            </div>
        </div>
    </main>
</body>
</html>