<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/maincopy.css">
</head>
<head th:replace="~{fragments/head :: head}"></head>
<head th:replace="~{fragments/foot :: foot}"></head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div id="container">
        <main>
            <div class="main-body">
                <section class="main-img">
                    <img src="/static/img/brandPage/page3-4.jpg" class="img">
                    <div class="main-img-menu">
                        <span class="market-place-text">Edizione NOONEE - HANNAM MAIN</span>
                        <button type="button" class="main-img-btn discover-more">DISCOVER MORE</button>
                        <button type="button" class="main-img-btn directions">오시는 길</button>
                        <div class="img-btn">
                            <button class="main-btn"></button>
                            <button class="main-btn"></button>
                            <button class="main-btn"></button>
                            <button class="main-btn"></button>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
    <script src="/static/js/main.js"></script>
</body>
</html>