<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://kit.fontawesome.com/f859fe5fed.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <div class="container">
        <main>
            <header class="main-header">
                <a href=""><img src="" alt=""></a>
                <ul>
                    <li>카트<strong>&#62;</strong></li>
                    <li>정보<strong>&#62;</strong></li>
                    <li>배송<strong>&#62;</strong></li>
                    <li>지급</li>
                </ul>
            </header>
            <section class="main-content">
                <div class="principal-info">
                    <h2 class="info-title">연락처 정보</h2>
                    <div class="info-detail">
                        <div class="profile-img">
                            <img src="" alt="">
                        </div>
                        <div class="principal-detail">
                            <div class="principal-user">준일 김</div>
                            <a href="/logout">로그아웃</a>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="main-footer">

            </footer>
        </main>
        <aside>

        </aside>
    </div>
</body>
</html>