<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/signup.css">
    
</head>
<body>
   <div id="container">
        <div>
            <button type="button" class="signup-btn">ID/PW 회원가입</button>
        </div>
        <div class="line">
            <div></div>
            또는
            <div></div>
        </div>
        <div>
            <button type="button" class="naver-oauth2-singup-btn">네이버로 시작하기</button>
        </div>
    </div>
</body>
</html>