<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/f859fe5fed.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/writing.css">
</head>
<body>
    <div id="container">
        <main>
            <div class="writing-header">
                <div class="writing-title">
                    <span>A/S 문의</span>
                </div>
                <nav>
                    <div>
                        <button type="button" class="cancel">취소</button>
                        <button type="button" class="write">작성</button>
                    </div>
                </nav>
            </div>
            <div class="writing-body">
                <div class="menu">
                    <span>대표 이미지 설정</span>
                </div>
                <div class="writing-area">
                    <div class="user">
                        <img src="/static/img/notice.PNG" alt="">
                        <div class="input-icon">
                            <div class="input-group">
                                <input type="text" placeholder="작성자 이름">
                                <input type="text" placeholder="비밀번호">
                            </div>
                            <div class="private-icon">
                                <i class="fa-solid fa-lock"></i>
                            </div>
                        </div>
                        <div class="writing-area-title">
                            <input type="text" placeholder="A/S 문의">
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>